<div class="game-wrapper">
  <div class="status player">
    Your turn
  </div>
  <div class="game-area grid">
    {{#each model.initialGameState as |row index|}}
      <BoardTile @value={{row}} @tileID={{index}} @usernameSet={{this.usernameSet}}/>
    {{/each}}
  </div>
  <label class="username-form">
    What's your username?
    <Input id="username-field" @value={{@model.localScore.username}} />
    <button id="submit-btn" type="submit" {{on "click" postScore}}>Send My Score</button>
  </label>
</div>